<!DOCTYPE HTML>
  <html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  	<!-- Notice that socket.io adds a path to its client-side js that is not in /public -->
  	<script src="/socket.io/socket.io.js"></script>
  	<!-- This is my example client-side javascript that uses socket.io -->
  	<body>
    <div class="container">
        <br><br>
        you are stuck here haha!

    </div>
  	</body>
 </html>